@include media-breakpoint-up(lg) {
    section.hero {
        .hero-desc {
            font-family: 'Major Mono Display', monospace;
            font-size: 18px;
            text-transform: initial;
            text-align: left;
        }
    }

    .table {
        width: 100% !important;
    }

    .logo.lg {
        font-size: 60px !important;
        text-align: left !important;
    }
}

@include media-breakpoint-up(md) {
    section.hero {
        .hero-desc {
            font-family: 'Major Mono Display', monospace;
            font-size: 18px;
            text-transform: initial;
            text-align: left;
        }
    }

    .table {
        width: 100% !important;
    }

    .logo.lg {
        font-size: 60px !important;
        text-align: left !important;
    }
}